@page "/shopping-cart"

<div class="column-layout shopping-cart-container">
    <div class="column-layout page-content">
        <div class="column-layout inner-pages-header">
            <img src="assets/AutoDeals_Logo.svg" class="image" />
            <p class="typography__body-1 text">
                Enjoy 20% off on all your weekend purchases
            </p>
        </div>
        <div class="row-layout content">
            <div class="column-layout group">
                <h5 class="h5">
                    Shopping Cart
                </h5>
                <div class="row-layout group_1">
                    <div class="column-layout group_2">
                        <IgbList class="list" shopping-cart-scope>
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Alternator1.jpg" Size="SizableComponentSize.Large" class="avatar" shopping-cart-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_4">
                                            <p class="typography__body-1 text_1">
                                                Gold Alternator 
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div slot="end">
                                    <span class="material-icons icon">
                                        remove_shopping_cart
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Depositphotos_91150104_l-2015.jpg" Size="SizableComponentSize.Large" class="avatar" shopping-cart-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_8">
                                            <p class="typography__body-1 text_5">
                                                Tail Lamp Assembly
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $19.50
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div slot="end">
                                    <span class="material-icons icon">
                                        remove_shopping_cart
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Depositphotos_114068560_l-2015.jpg" Size="SizableComponentSize.Large" class="avatar" shopping-cart-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_8">
                                            <p class="typography__body-1 text_5">
                                                Winter Tires Set
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div slot="end">
                                    <span class="material-icons icon">
                                        remove_shopping_cart
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Depositphotos_20993125_l-2015.jpg" Size="SizableComponentSize.Large" class="avatar" shopping-cart-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_4">
                                            <p class="typography__body-1 text_1">
                                                Oil Filter
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div slot="end">
                                    <span class="material-icons icon">
                                        remove_shopping_cart
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem>
                                <div slot="start">
                                    <IgbAvatar Src="assets/Depositphotos_12011807_l-2015.jpg" Size="SizableComponentSize.Large" class="avatar" shopping-cart-scope></IgbAvatar>
                                </div>
                                <div>
                                    <div class="row-layout group_3">
                                        <div class="row-layout group_8">
                                            <p class="typography__body-1 text_5">
                                                Headlight Assembly
                                            </p>
                                        </div>
                                        <div class="row-layout group_5">
                                            <p class="typography__body-1 text_2">
                                                Qty:
                                            </p>
                                            <div class="row-layout group_6">
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        remove
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                                <p class="typography__body-1 text_3">
                                                    1
                                                </p>
                                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                                    <span class="material-icons">
                                                        add
                                                    </span>
                                                    <IgbRipple></IgbRipple>
                                                </IgbIconButton>
                                            </div>
                                        </div>
                                        <div class="row-layout group_7">
                                            <p class="typography__body-1 text_4">
                                                $59.90
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div slot="end">
                                    <span class="material-icons icon">
                                        remove_shopping_cart
                                    </span>
                                </div>
                            </IgbListItem>
                        </IgbList>
                    </div>
                    <div class="column-layout group_9">
                        <h6 class="h6">
                            Cart totals
                        </h6>
                        <div class="row-layout group_10">
                            <p class="typography__subtitle-2 content_1">
                                Subtotal
                            </p>
                            <p class="typography__body-1 content_2">
                                $198.30
                            </p>
                        </div>
                        <div class="row-layout group_10">
                            <p class="typography__subtitle-2 content_1">
                                Shipping
                            </p>
                            <p class="typography__body-1 content_2">
                                $0
                            </p>
                        </div>
                        <div class="column-layout group_11">
                            <p class="typography__body-2 text_4">
                                Shipping wiil be calculated at checkout
                            </p>
                            <a class="typography__body-2 hyperlink">
                                Estimate shipping
                            </a>
                        </div>
                        <div class="row-layout group_12">
                            <h6 class="content_1">
                                Total
                            </h6>
                            <h6 class="content_2">
                                $198.30
                            </h6>
                        </div>
                        <div class="row-layout group_13">
                            <IgbButton Variant="ButtonVariant.Flat" class="button" shopping-cart-scope>
                                PROCEED TO CHECKOUT
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-layout sitemap">
            <div class="column-layout group_14">
                <p class="typography__subtitle-2 text_6">
                    Contact Us
                </p>
                <p class="typography__body-2 text_6">
                    1234 Street Name, CityName, ST
                </p>
                <p class="typography__body-2 text_6">
                     10520 United States
                </p>
                <p class="typography__subtitle-2 text_7">
                    Phone Number
                </p>
                <p class="typography__body-2 text_6">
                    1-234-567-8901
                </p>
            </div>
            <div class="column-layout group_15">
                <p class="typography__subtitle-2 text_6">
                    Help
                </p>
                <p class="typography__body-2 text_6">
                    FAQ
                </p>
                <p class="typography__body-2 text_6">
                    Returns
                </p>
                <p class="typography__body-2 text_6">
                    Coupons &amp; Discounts
                </p>
                <p class="typography__body-2 text_6">
                    Shipping &amp; Returns
                </p>
            </div>
            <div class="column-layout group_15">
                <p class="typography__subtitle-2 text_6">
                    About Us
                </p>
                <p class="typography__body-2 text_6">
                    Company Info
                </p>
                <p class="typography__body-2 text_6">
                    Press Releases
                </p>
                <p class="typography__body-2 text_6">
                    Careers
                </p>
                <p class="typography__body-2 text_6">
                    Reviews
                </p>
            </div>
            <div class="column-layout group_15">
                <p class="typography__subtitle-2 text_6">
                    Services
                </p>
                <p class="typography__body-2 text_6">
                    Buy Online
                </p>
                <p class="typography__body-2 text_6">
                    In-Store
                </p>
                <p class="typography__body-2 text_6">
                    Repair Help
                </p>
                <p class="typography__body-2 text_6">
                    Find a Repair Shop
                </p>
            </div>
            <div class="column-layout group_15">
                <p class="typography__subtitle-2 text_6">
                    Blog
                </p>
                <p class="typography__body-2 text_6">
                    Car Building Basics
                </p>
                <p class="typography__body-2 text_6">
                    Do it Yourself
                </p>
                <p class="typography__body-2 text_6">
                    Your Home Workshop
                </p>
                <p class="typography__body-2 text_6">
                    Advanced Bulding
                </p>
            </div>
        </div>
        <div class="row-layout footer">
            <p class="typography__body-2 text_8">
                Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
            </p>
            <div class="row-layout group_16">
                <p class="typography__body-2 text_9">
                    Terms of Use
                </p>
                <p class="typography__body-2 text_9">
                    Privacy Policy
                </p>
                <p class="typography__body-2 text_9">
                    Site Map
                </p>
            </div>
        </div>
    </div>
</div>

@code {
}
